<!DOCTYPE html>
<html>
<head>
    <title>Cart</title>
</head>
<body>

<h1>🛒 Your Cart</h1>

{% for item, qty in cart.items() %}
    <div>
        {{ item }} × {{ qty }} = ₹{{ products[item] * qty }}

        <a href="/add_to_cart/{{ item }}">
            <button>+</button>
        </a>

        <a href="/remove/{{ item }}">
            <button>-</button>
        </a>
    </div>
{% endfor %}

<h2>Total: ₹{{ total }}</h2>

<br>

<a href="/home">
    <button>Back to Shop</button>
</a>

</body>
</html>
